<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div id="help-page" class="row margin-top">

  <div class="small-12 medium-9 column">
    <h2><%= t('.title') %></h2>
    <h4><%= t('.subtitle') %></h4>

    <h3 class="mt-100">Titularidad</h3>
    <p>
			http://www.elpuertodesantamaria.es/ es un dominio en Internet propiedad del Ayuntamiento de El Puerto de Santa María con entidad con NIF: P1102700J y con domicilio en Plaza Isaac Peral 4, 11500 El Puerto de Santa María (Cádiz) y (en adelante el Titular).
		</p>

		<br><br>

		<h3>Condiciones Generales de Uso.</h3>
		<h5>1. Aceptación y disponibilidad de las Condiciones Generales de Usos</h5>
		<p>
			Al acceder al Sitio Web declara que ha leído y acepta las presentes Condiciones. En todo caso, las Condiciones Generales de Uso aquí contenidas tienen carácter obligatorio y vinculante; cualquier persona que no acepte estas condiciones deberá abstenerse de utilizar el Sitio Web y/o los servicios promocionados por el Titular, a través del mismo. Estas Condiciones Generales de Uso no crean ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre el Titular y los Usuarios. Las presentes condiciones, regulan el uso de este Sitio Web, el cual pone el Titular a disposición de las personas que accedan con el fin de proporcionales información sobre servicios propios y/o de terceros colaboradores. 
		</p>

		<h5>2. Normas aplicables</h5>
		<p>
			El presente Aviso Legal está sujeto a lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, su Reglamento de Desarrollo, RD 1720/07, la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, el Real Decreto-ley 13/2012, de 30 de marzo, por el que se transponen directivas en materia de mercados interiores de electricidad y gas y en materia de comunicaciones electrónicas, y por el que se adoptan medidas para la corrección de las desviaciones por desajustes entre los costes e ingresos de los sectores eléctrico y gasista, así como cualquier normativa posterior que las modifican o desarrollan. De forma particular ser el Titular un Ayuntamiento está sujeto a todas las normativas que regulan tales entidades de ámbito local, entre otras: Ley 7/1985, Reguladora de las Bases de Régimen Local, modificada por la Ley 57/2003, de 16 de diciembre, de Medidas para la Modernización del Gobierno Local y Reglamento de Organización, Funcionamiento y Régimen Jurídico de las Entidades Locales, la Ley 19/2013, de 9 de diciembre, de Transparencia, Acceso a la Información Pública y Buen Gobierno, Ley 1/2014, de 24 de junio, de Transparencia Pública de Andalucía. Tanto el acceso al Portal Web propiedad del Titular como el uso que pueda hacerse de la información y contenidos incluidos en el mismo, será de la exclusiva responsabilidad de quien lo realice. Las condiciones de acceso al Sitio Web estarán supeditadas a la legalidad vigente y los principios de la buena fe y uso lícito por parte del Usuario de la misma, quedando prohibido con carácter general cualquier tipo de actuación en perjuicio del Titular. Se considerará terminantemente prohibido el uso del Sitio Web con fines ilegales o no autorizados. 
		</p>

		<h5>3. Modificación de las Condiciones Generales de Uso El Titular</h5>
		<p>
		 se reserva el derecho de modificar, en cualquier momento, la presentación y configuración del Sitio Web, así como las presentes Condiciones Generales de Uso. Por ello, El Titular recomienda al Usuario leerlas atentamente cada vez que acceda al Sitio Web. Siempre dispondrán de las Condiciones Generales de Uso en un sitio visible, libremente accesible para cuantas consultas quiera realizar. 
		</p>

		<h5>4. Descripción de los servicios</h5>
		<p>
			El Ayuntamiento de El Puerto de Santa María, a través de su Portal Web, facilita información de interés general de la ciudad y, en especial, información y gestiones propias de la organización municipal. La información facilitada es la vigente en el momento de su publicación. 
		</p>

		<h5>5. Terminación</h5>
		<p>
			El Titular se reserva el derecho de interrumpir o cancelar el Sitio Web o cualquiera de los servicios en el mismo, en cualquier momento y sin previo aviso, por motivos técnicos o de cualquier otra índole, pudiendo así mismo modificar unilateralmente tanto las condiciones de acceso, como la totalidad o parte de los contenidos en él incluidos todo ello sin perjuicio de los derechos adquiridos en dicho momento. 
		</p>

		<h5>6. Responsabilidades</h5>
		<p>
			Los enlaces contenidos en el sitio Web pueden dirigir a Sitios Web de terceros. El Titular no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en no implican relación alguna entre el Titular y las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren. El Titular no se hace responsable bajo ningún concepto por ningún tipo de daño que pudiesen ocasionar los Usuarios al presente Sitio Web, o a cualquier otra, por el uso ilegal o indebido de la misma, o de los contenidos e informaciones accesibles o facilitadas a través de ella. El Titular no será responsable de las infracciones realizadas por usuarios de su Web que afecten a terceros. El Titular no garantiza la fiabilidad, la disponibilidad ni la continuidad de su Sitio Web ni de los Servicios, por lo que la utilización de los mismos por parte del usuario se lleva a cabo por su propia cuenta y riesgo, sin que, en ningún momento, puedan exigirse responsabilidades por ello al Titular. El Titular no será responsable en caso de que existan interrupciones de los servicios, demoras, mal funcionamiento del mismo y, en general, demás inconvenientes que tengan su origen en causas que escapan del control del Titular, y/o debida a una actuación dolosa o culposa del usuario y/o tenga por origen causas de caso fortuito o fuerza mayor. Sin perjuicio de lo establecido en el artículo 1105 del Código Civil, se entenderán incluidos en el concepto de fuerza mayor, además, y a los efectos de las presentes Condiciones Generales de Uso, todos aquellos acontecimientos acaecidos fuera del control del Titular, tales como: fallo de terceros, operadores o compañías de servicios, actos de Gobierno, falta de acceso a redes de terceros, actos u omisiones de las Autoridades Públicas, aquellos otros producidos como consecuencia de fenómenos naturales, cortes de suministro, etc y el ataque de hackers o terceros especializados en la seguridad o integridad del sistema informático, siempre que el Titular, haya adoptado las medidas de seguridad razonables de acuerdo con el estado de la técnica. En cualquier caso, sea cual fuere su causa, el Titular no asumirá responsabilidad alguna ya sea por daños directos o indirectos, daño emergente y/o por lucro cesante. El Titular tratará en la medida de lo posible de actualizar y rectificar aquella información alojada en su Sitio Web que no cumpla con las mínimas garantías de veracidad. No obstante informa que puede existir cualquier tipo de error sin intencionalidad y siendo el Usuario libre de contrastar el contenido. En este sentido, el Titular no tiene obligación de controlar y no controla los contenidos transmitidos, difundidos o puestos a disposición de terceros por los Usuarios o colaboradores, salvo los supuestos en que así lo exija la legislación vigente o cuando sea requerido por una Autoridad Judicial o Administrativa competente. El Titular no podrá ser considerado responsable del uso del presente Sitio Web por personas ajenas o referencias que pudieran existir en sitios ajenos. 
		</p>

		<h5>7. Propiedad Intelectual e Industrial</h5>
		<p>
		 Los derechos de propiedad intelectual de este Sitio Web, su código fuente, diseño, estructuras de navegación y los distintos elementos en ella contenidos son titularidad exclusiva del Titular a quien corresponde el ejercicio de los derechos de explotación de los mismos en cualquier forma y, en especial, los derechos de reproducción, distribución, comunicación pública y transformación, de acuerdo con la legislación española y de la Unión Europea aplicable. Aquellos usuarios que envíen al Sitio Web observaciones, opiniones o comentarios por medio del servicio de correo electrónico o por cualquier otro medio, en los casos en los que por la naturaleza de los servicios ello sea posible, se entiende que autorizan al Titular para la reproducción, distribución, comunicación pública, transformación, y el ejercicio de cualquier otro derecho de explotación, de tales observaciones, opiniones o comentarios, por todo el tiempo de protección de derecho de autor que esté previsto legalmente y sin limitación territorial. Asimismo, se entiende que esta autorización se hace a título gratuito. El Titular advierte que no podrá ser considerado responsable por los comentarios o cualquier tipo de aportación de terceros que se muestren en el propio sitio o en espacios ajenos enlazados, éstos no manifiestan en ningún caso la opinión del Titular y queda reservada de forma exclusiva la posibilidad de eliminarlos si se consideran no correctos, o que actúan contra los intereses propios o de terceros, según el criterio del Titular. El Titular no se hace responsable por la utilización que el Usuario realice de los Servicios del Sitio Web, así como de cualquier material que él mismo incluya en el presente Sitio Web, que puedan infringir los derechos de propiedad intelectual o industrial o cualquier otro derecho de terceros.
		</p>

		<h3 class="mt-100">Política de privacidad</h3>
		<p>
			La visita al Portal institucional del Ayuntamiento de El Puerto de Santa María se efectúa de forma anónima. Solamente para poder acceder a alguno de los servicios de la web que dispongan de gestión o trámite específico los Usuarios habrán de suministrar los datos personales imprescindibles para la prestación del servicio solicitado. El Titular se compromete a cumplir con la normativa en materia de Protección de Datos de carácter personal y a respetar la privacidad de los Usuarios. De acuerdo a lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD) y su Reglamento de Desarrollo aprobado por el Real Decreto 1720/2007, de 21 de diciembre, le informamos de que los datos personales que facilite a través del presente Sitio Web, mediante envíos de correos electrónicos o cualquier red social o herramienta de comunicación, serán incorporados a un fichero propiedad del Titular. Podrán ejercitarse los derechos de acceso, rectificación, cancelación y oposición por correo postal, adjuntando copia de documento acreditativo de su identidad a la dirección: Plaza Isaac Peral 4, 11500 El Puerto de Santa María, Cádiz indicando “Protección de Datos” 
		</p>

		<h5>1. Campos de texto libre</h5>
		<p>
			Los campos de texto libre que, a disposición del Usuario, puedan aparecer en los formularios del Sitio Web tienen como única y exclusiva finalidad el recabar información para mejorar la calidad de los Servicios. El Usuario no incluirá, en aquellos espacios que el Sitio Web pueda ofertar como "campos de texto libre", ningún dato de carácter personal que pueda ser calificado dentro de aquellos datos para los que se exige un nivel de protección de tipo medio o alto, entendiéndose como datos de tipo medio o alto, a título enunciativo y no limitativo, los relativos a situación económico-financiera, perfiles psicológicos, ideología, religión, creencias, afiliación sindical, salud, origen racial y/o vida sexual. 
		</p>

		<h5>2. Campos no obligatorios</h5>
		<p>
			El Titular comunica al Usuario el carácter no obligatorio de la recogida de algunos datos, salvo en los campos que se indique lo contrario mediante un (*). No obstante, la no cumplimentación de dichos datos podrá impedir prestar todos aquellos Servicios vinculados a tales datos, liberándole de toda responsabilidad por la no prestación o prestación incompleta de estos Servicios. 
		</p>

		<h5>3. Comunicación de datos personales</h5>
		<p>
			En relación a la gestión de los servicios los datos de los Usuarios podrán ser tratados por empresas que presten al Titular diversos servicios, entre otros, de envío, mensajería, contabilidad, asesoría, mantenimiento informático, o cualquier otro que por su condición de Encargada del Tratamiento sea indispensable o inevitable que accedan o traten estos datos. Este tratamiento no será considerado en ningún caso una cesión de datos. El Titular no cederá sus datos a terceras personas en ningún caso. 
		</p>

		<h5>4. Confidencialidad</h5>
		<p>
			Además, también tendrá la condición de confidencial la información de cualquier tipo que las partes intercambien entre sí, aquella que éstas acuerden que tiene tal naturaleza, o la que simplemente verse sobre el contenido de dicha información. La visualización de datos a través de Internet, no supondrá el acceso directo a los mismos, salvo consentimiento expreso de su titular para cada ocasión.
		</p>


		<h3 class="mt-100">Política de Cookies</h3>
		<h5>1. Definición y funciones de las cookies</h5>
		<p>
			Una cookie es un fichero que se descarga en el equipo del Usuario al acceder a determinados sitios web. Las cookies permiten al sitio web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del Usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al Usuario. 
		</p>

		<h5>2. Tipos de cookies que puede utilizar este Sitio Web</h5>
		<p>
			<ul>
				<li>
					Cookies propias: Son aquéllas que se envían al equipo terminal del Usuario desde un equipo o dominio gestionado por el Titular y desde el que se presta el servicio solicitado por el Usuario. 
				</li>
				<li>
					Cookies de tercero: Son aquéllas que se envían al equipo terminal del Usuario desde un equipo o dominio que no es gestionado por el Titular, sino por otra entidad que trata los datos obtenidos través de las cookies. 
				</li>
				<li>
					Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el Usuario accede a un sitio web. 
				</li>
				<li>
					Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años. 
				</li>
				<li>
					Cookies de análisis: Son aquéllas que bien tratadas por el Titular o por terceros, permiten cuantificar el número de Usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los Usuarios del servicio ofertado. Para ello se analiza su navegación con el fin de mejorar la oferta de productos o servicios que se ofrecen. 
				</li>
			</ul>
		</p>

		<h5>3. Revocación y eliminación de cookies</h5>
		<p>
			El Usuario puede permitir, bloquear o eliminar las cookies instaladas en el equipo mediante la configuración de las opciones del navegador instalado, en caso que no permita la instalación de cookies en su navegador es posible que no pueda acceder a alguna de las secciones del Sitio Web. Se puede encontrar información sobre cómo configurar las cookies según el navegador utilizado en los siguientes enlaces (enlaces válidos a la fecha de edición del presente texto). Para más información sobre cómo bloquear el uso de cookies en Explorer pulse aquí. http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9   Para más información sobre cómo bloquear el uso de cookies en Chrome pulse aquí. http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647 Para más información sobre cómo bloquear el uso de cookies en Firefox pulse aquí. http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we Para más información sobre cómo bloquear el uso de cookies en Safari pulse aquí. http://support.apple.com/kb/ph5042 El Titular no se hace responsable del contenido y veracidad de las políticas de privacidad de los terceros incluidos en los enlaces de este Aviso Legal. 
		</p>

		<h5>4. Terceros prestadores de servicios</h5>
		<p>
			En concreto los terceros con los que se ha gestionado algún servicio para el que es necesaria la utilización de cookies son:

			<div style="overflow-x:auto;">
				<table>
					<thead>
						<td>Proveedor</td>
						<td>Finalidad de la Cookie</td>
						<td>Descrp. Finalidad Cookie</td>
						<td>Más info</td>
					</thead>
					<tbody>
						<tr>
							<td>Google Analytics</td>
							<td>Analítica</td>
							<td>Web	Estadísticas de visitas</td>
							<td>http://www.google.es/intl/es/analytics/</td>
						</tr>
						<tr>
							<td>Google DoubleClick</td>
							<td>Herramienta</td>
							<td>Gestión de publicidad sitio web</td>
							<td>http://www.google.com/doubleclick/</td>
						</tr>
						<tr>
							<td>Facebook Connect Widget</td>
							<td>Social</td> 
							<td>Conexión de los usuarios con la red social</td> 
							<td>http://developers.facebook.com/</td> 
						</tr>	
						<tr>
							<td>Facebook Social Plugin Widget</td>
							<td>Social</td> 
							<td>Herramienta para compartir experiencia con otros usuarios de la red social, desde otros sitios webs</td> 
							<td>http://www.facebook.com/</td> 
						</tr>	
						<tr>
							<td>Twitter Button	Widget</td>
							<td>Social</td> 
							<td>Herramienta para compartir experiencia con otros usuarios de la red social, desde otros sitios webs</td> 
							<td>http://twitter.com/about</td> 
						</tr>	
					</tbody>
				</table>
			</div>
		</p>

		<p>
			Este Sitio Web utiliza Google Analytics, un servicio de analítica web desarrollado por Google que permite la medición y análisis de la navegación en las páginas web. El Usuario podrá observar en su navegador dos cookies de este servicio. Según la tipología anterior se trata de cookies propias, de sesión y de análisis. Puede encontrar más información al respecto e inhabilitar el uso de estas cookies www.google.es/intl/es/analytics/privacyoverview.html . A través de la analítica web se obtiene información relativa al número de usuarios que acceden a la web, el número de páginas vistas, la frecuencia y repetición de las visitas, su duración, el navegador utilizado, el operador que presta el servicio, el idioma, el terminal que utiliza, o la ciudad a la que está asignada la dirección IP. Información que posibilita un mejor y más apropiado servicio por parte de este Sitio Web. El Titular declina cualquier responsabilidad respecto al contenido y veracidad de la información y políticas de privacidad relativas a las cookies de terceros. Para más información sobre el uso de cookies en este Sitio Web el Usuario puede solicitarla a través del formulario de contacto La presente política fue modificada a fecha el 26 de enero de 2016
		</p>


  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
