<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div id="help-page" class="row margin-top">

  <div class="small-12 medium-9 column">

    <h2><%= t(".title") %></h2>
    <h3><%= t('.subtitle') %></h3>

    <p>
      La visita al Portal institucional del Ayuntamiento de El Puerto de Santa María se efectúa de forma anónima. Solamente para poder acceder a alguno de los servicios de la web que dispongan de gestión o trámite específico los Usuarios habrán de suministrar los datos personales imprescindibles para la prestación del servicio solicitado. El Titular se compromete a cumplir con la normativa en materia de Protección de Datos de carácter personal y a respetar la privacidad de los Usuarios. De acuerdo a lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD) y su Reglamento de Desarrollo aprobado por el Real Decreto 1720/2007, de 21 de diciembre, le informamos de que los datos personales que facilite a través del presente Sitio Web, mediante envíos de correos electrónicos o cualquier red social o herramienta de comunicación, serán incorporados a un fichero propiedad del Titular. Podrán ejercitarse los derechos de acceso, rectificación, cancelación y oposición por correo postal, adjuntando copia de documento acreditativo de su identidad a la dirección: Plaza Isaac Peral 4, 11500 El Puerto de Santa María, Cádiz indicando “Protección de Datos”.
    </p>

    <h5>1. Campos de texto libre</h5>
    <p>
      Los campos de texto libre que, a disposición del Usuario, puedan aparecer en los formularios del Sitio Web tienen como única y exclusiva finalidad el recabar información para mejorar la calidad de los Servicios. El Usuario no incluirá, en aquellos espacios que el Sitio Web pueda ofertar como "campos de texto libre", ningún dato de carácter personal que pueda ser calificado dentro de aquellos datos para los que se exige un nivel de protección de tipo medio o alto, entendiéndose como datos de tipo medio o alto, a título enunciativo y no limitativo, los relativos a situación económico-financiera, perfiles psicológicos, ideología, religión, creencias, afiliación sindical, salud, origen racial y/o vida sexual.
    </p>

    <h5>2. Campos no obligatorios</h5>
    <p>
      El Titular comunica al Usuario el carácter no obligatorio de la recogida de algunos datos, salvo en los campos que se indique lo contrario mediante un (*). No obstante, la no cumplimentación de dichos datos podrá impedir prestar todos aquellos Servicios vinculados a tales datos, liberándole de toda responsabilidad por la no prestación o prestación incompleta de estos Servicios.
    </p>

    <h5>3. Comunicación de datos personales</h5>
    <p>
      En relación a la gestión de los servicios los datos de los Usuarios podrán ser tratados por empresas que presten al Titular diversos servicios, entre otros, de envío, mensajería, contabilidad, asesoría, mantenimiento informático, o cualquier otro que por su condición de Encargada del Tratamiento sea indispensable o inevitable que accedan o traten estos datos. Este tratamiento no será considerado en ningún caso una cesión de datos. El Titular no cederá sus datos a terceras personas en ningún caso.
    </p>

    <h5>4. Confidencialidad</h5>
    <p>
      Además, también tendrá la condición de confidencial la información de cualquier tipo que las partes intercambien entre sí, aquella que éstas acuerden que tiene tal naturaleza, o la que simplemente verse sobre el contenido de dicha información. La visualización de datos a través de Internet, no supondrá el acceso directo a los mismos, salvo consentimiento expreso de su titular para cada ocasión.
    </p>


    <h3 class="mt-100">Política de Cookies</h3>
    <h5>1. Definición y funciones de las cookies</h5>
    <p>
      Una cookie es un fichero que se descarga en el equipo del Usuario al acceder a determinados sitios web. Las cookies permiten al sitio web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del Usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al Usuario.
    </p>

    <h5>2. Tipos de cookies que puede utilizar este Sitio Web</h5>
    <p>
      <ul>
        <li>
          Cookies propias: Son aquéllas que se envían al equipo terminal del Usuario desde un equipo o dominio gestionado por el Titular y desde el que se presta el servicio solicitado por el Usuario. 
        </li>
        <li>
          Cookies de tercero: Son aquéllas que se envían al equipo terminal del Usuario desde un equipo o dominio que no es gestionado por el Titular, sino por otra entidad que trata los datos obtenidos través de las cookies. 
        </li>
        <li>
          Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el Usuario accede a un sitio web. 
        </li>
        <li>
          Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años. 
        </li>
        <li>
          Cookies de análisis: Son aquéllas que bien tratadas por el Titular o por terceros, permiten cuantificar el número de Usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los Usuarios del servicio ofertado. Para ello se analiza su navegación con el fin de mejorar la oferta de productos o servicios que se ofrecen. 
        </li>
      </ul>
    </p>

    <h5>3. Revocación y eliminación de cookies</h5>
    <p>
      El Usuario puede permitir, bloquear o eliminar las cookies instaladas en el equipo mediante la configuración de las opciones del navegador instalado, en caso que no permita la instalación de cookies en su navegador es posible que no pueda acceder a alguna de las secciones del Sitio Web. Se puede encontrar información sobre cómo configurar las cookies según el navegador utilizado en los siguientes enlaces (enlaces válidos a la fecha de edición del presente texto). 
      <br>
      Para más información sobre cómo bloquear el uso de cookies en Explorer pulse <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank">aquí</a>.
      <br> 
      Para más información sobre cómo bloquear el uso de cookies en Chrome pulse <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647" target="_blank">aquí</a>. 
      <br>
      Para más información sobre cómo bloquear el uso de cookies en Firefox pulse <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">aquí</a>.
      <br>
      Para más información sobre cómo bloquear el uso de cookies en Safari pulse <a href="http://support.apple.com/kb/ph5042" target="_blank">aquí</a>.

      <br><br>

      El Titular no se hace responsable del contenido y veracidad de las políticas de privacidad de los terceros incluidos en los enlaces de este Aviso Legal. 
    </p>

    <h5>4. Terceros prestadores de servicios</h5>
    <p>
      En concreto los terceros con los que se ha gestionado algún servicio para el que es necesaria la utilización de cookies son:

      <div style="overflow-x:auto;">
        <table>
          <thead>
            <td>Proveedor</td>
            <td>Finalidad de la Cookie</td>
            <td>Descrp. Finalidad Cookie</td>
            <td>Más info</td>
          </thead>
          <tbody>
            <tr>
              <td>Google Analytics</td>
              <td>Analítica</td>
              <td>Web Estadísticas de visitas</td>
              <td>http://www.google.es/intl/es/analytics/</td>
            </tr>
            <tr>
              <td>Google DoubleClick</td>
              <td>Herramienta</td>
              <td>Gestión de publicidad sitio web</td>
              <td>http://www.google.com/doubleclick/</td>
            </tr>
            <tr>
              <td>Facebook Connect Widget</td>
              <td>Social</td> 
              <td>Conexión de los usuarios con la red social</td> 
              <td>http://developers.facebook.com/</td> 
            </tr> 
            <tr>
              <td>Facebook Social Plugin Widget</td>
              <td>Social</td> 
              <td>Herramienta para compartir experiencia con otros usuarios de la red social, desde otros sitios webs</td> 
              <td>http://www.facebook.com/</td> 
            </tr> 
            <tr>
              <td>Twitter Button  Widget</td>
              <td>Social</td> 
              <td>Herramienta para compartir experiencia con otros usuarios de la red social, desde otros sitios webs</td> 
              <td>http://twitter.com/about</td> 
            </tr> 
          </tbody>
        </table>
      </div>
    </p>

    <p>
      Este Sitio Web utiliza Google Analytics, un servicio de analítica web desarrollado por Google que permite la medición y análisis de la navegación en las páginas web. El Usuario podrá observar en su navegador dos cookies de este servicio. Según la tipología anterior se trata de cookies propias, de sesión y de análisis. Puede encontrar más información al respecto e inhabilitar el uso de estas cookies www.google.es/intl/es/analytics/privacyoverview.html . A través de la analítica web se obtiene información relativa al número de usuarios que acceden a la web, el número de páginas vistas, la frecuencia y repetición de las visitas, su duración, el navegador utilizado, el operador que presta el servicio, el idioma, el terminal que utiliza, o la ciudad a la que está asignada la dirección IP. Información que posibilita un mejor y más apropiado servicio por parte de este Sitio Web. El Titular declina cualquier responsabilidad respecto al contenido y veracidad de la información y políticas de privacidad relativas a las cookies de terceros. Para más información sobre el uso de cookies en este Sitio Web el Usuario puede solicitarla a través del formulario de contacto La presente política fue modificada a fecha el 26 de enero de 2016
    </p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

